pipeline-template/ARMTemplateForADF.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "df-lichess-pipeline"
        },
        "ls_datalakestorage_accountKey": {
            "type": "secureString",
            "metadata": "Secure string for 'accountKey' of 'ls_datalakestorage'"
        },
        "ls_databricks_accessToken": {
            "type": "secureString",
            "metadata": "Secure string for 'accessToken' of 'ls_databricks'"
        },
        "ls_datalakestorage_properties_typeProperties_url": {
            "type": "string",
            "defaultValue": "https://lichesspipelinestorage.dfs.core.windows.net/"
        },
        "ls_lichess_database_properties_typeProperties_url": {
            "type": "string",
            "defaultValue": "https://database.lichess.org/standard/"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/pl_main')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Copy From Lichess to Raw",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "BinarySource",
                                "storeSettings": {
                                    "type": "HttpReadSettings",
                                    "requestMethod": "GET"
                                },
                                "formatSettings": {
                                    "type": "BinaryReadSettings"
                                }
                            },
                            "sink": {
                                "type": "BinarySink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                }
                            },
                            "enableStaging": false
                        },
                        "inputs": [
                            {
                                "referenceName": "ds_lichess_database",
                                "type": "DatasetReference",
                                "parameters": {
                                    "fileName": {
                                        "value": "@concat('lichess_db_standard_rated_',pipeline().parameters.Month,'.pgn.zst')",
                                        "type": "Expression"
                                    }
                                }
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "ds_datalake_raw_layer",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    },
                    {
                        "name": "Process Data in Databricks",
                        "type": "DatabricksNotebook",
                        "dependsOn": [
                            {
                                "activity": "Copy From Lichess to Raw",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "notebookPath": {
                                "value": "@pipeline().parameters.DatabricksNotebookPath",
                                "type": "Expression"
                            },
                            "baseParameters": {
                                "month": {
                                    "value": "@pipeline().parameters.Month",
                                    "type": "Expression"
                                }
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "ls_databricks",
                            "type": "LinkedServiceReference",
                            "parameters": {
                                "databricks_workspace_url": {
                                    "value": "@pipeline().parameters.DatabricksWorkspaceURL",
                                    "type": "Expression"
                                }
                            }
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "Month": {
                        "type": "string"
                    },
                    "DatabricksWorkspaceURL": {
                        "type": "string"
                    },
                    "DatabricksNotebookPath": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "lastPublishTime": "2024-07-31T01:07:32Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/ds_lichess_database')]",
                "[concat(variables('factoryId'), '/datasets/ds_datalake_raw_layer')]",
                "[concat(variables('factoryId'), '/linkedServices/ls_databricks')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/ls_datalakestorage')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobFS",
                "typeProperties": {
                    "url": "[parameters('ls_datalakestorage_properties_typeProperties_url')]",
                    "accountKey": {
                        "type": "SecureString",
                        "value": "[parameters('ls_datalakestorage_accountKey')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/ls_lichess_database')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "HttpServer",
                "typeProperties": {
                    "url": "[parameters('ls_lichess_database_properties_typeProperties_url')]",
                    "enableServerCertificateValidation": true,
                    "authenticationType": "Anonymous"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/ls_databricks')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "parameters": {
                    "databricks_workspace_url": {
                        "type": "String"
                    }
                },
                "annotations": [],
                "type": "AzureDatabricks",
                "typeProperties": {
                    "domain": "@linkedService().databricks_workspace_url",
                    "accessToken": {
                        "type": "SecureString",
                        "value": "[parameters('ls_databricks_accessToken')]"
                    },
                    "newClusterNodeType": "Standard_DS3_v2",
                    "newClusterNumOfWorker": "1",
                    "newClusterSparkEnvVars": {
                        "PYSPARK_PYTHON": "/databricks/python3/bin/python3"
                    },
                    "newClusterVersion": "13.3.x-photon-scala2.12",
                    "clusterOption": "Fixed",
                    "newClusterInitScripts": []
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/ds_datalake_raw_layer')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "ls_datalakestorage",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Binary",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileSystem": "raw"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/ls_datalakestorage')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/ds_lichess_database')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "ls_lichess_database",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "fileName": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "Binary",
                "typeProperties": {
                    "location": {
                        "type": "HttpServerLocation",
                        "relativeUrl": {
                            "value": "@dataset().fileName",
                            "type": "Expression"
                        }
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/ls_lichess_database')]"
            ]
        }
    ]
}