datafactory/pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Lookup URL",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_la_update_blob_url",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Update Config",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Lookup URL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "@activity('Lookup URL').output",
						"type": "Expression"
					},
					"body": {
						"value": "{\n    \"Month\": \"@{pipeline().parameters.Month}\"\n}\n",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"Month": {
				"type": "string"
			}
		},
		"annotations": []
	}
}